
<button type="button" class="{{clase}}" >
  
  {{time.hours|number:'02.0'}}:{{time.minutes|number:'02.0'}}:{{time.seconds|number:'02.0'}}

  <!-- <div class="timer">
    <p class="unit">
      <strong>{{time.hours|number:'02.0'}}:</strong>
         <span>Horas<span>  
      </p>
    <p class="unit">
      <strong>{{time.minutes|number:'02.0'}}:</strong>
     <span>Minutos<span>	 
    </p>
    <p class="unit">
      <strong>{{time.seconds|number:'02.0'}}</strong>
      <span>Seg.<span> 
    </p> 
  </div> -->
</button>
